book-reader {
  display: block;
}

/* Action */

book-reader .book-action {
  background: none;
  background-color: transparent;
  border: none;
  color: inherit;
  line-height: inherit;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
  position: absolute;
}

book-reader .book-action.material-icons {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 32px;
  border-radius: 50%;
}

book-reader .book-action.material-icons:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

book-reader .book-action-left.material-icons {
  left: 1rem;
  top: 50%;
  transform: translateY(-24px);
}

book-reader .book-action-right {
  right: 1rem;
  top: 50%;
  transform: translateY(-24px);
}

/* Running */

book-reader .book-running-panel {
  background-color: var(--book-background-color);
  color: var(--book-text-color);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  min-height: 3.5rem;
  box-sizing: border-box;
  padding: 1rem calc(48px + 2rem) 1.25rem calc(48px + 2rem);
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
  z-index: 10;
}

book-reader .book-running-panel.active {
  transform: translate(0%);
  box-shadow: var(--book-panel-shadow);
}

/* Index */

book-reader .book-index-panel {
  background-color: var(--book-background-color);
  color: var(--book-text-color);
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 10;
  -ms-overflow-style: 12px;
  scrollbar-width: 12px;
}

book-reader .book-index-panel::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

book-reader .book-index-panel::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--book-fill-color);
  border: solid var(--book-background-color) 4px;
}

book-reader .book-index-panel.active {
  transform: translateX(0%);
  box-shadow: var(--book-panel-shadow);
}

@media (min-width: 576px) {
  book-reader .book-index-panel {
    max-width: 480px;
  }
}
