.book {
  padding: 0;
  max-width: none;
  margin-left: none;
  margin-right: none;
  height: 100vh;
}

.book > :not(book-scroll):not(book-fragment) {
  padding: 1rem;
  max-width: 41rem;
  margin-left: auto;
  margin-right: auto;
}

.book book-fragment {
  padding: 1rem;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}
